reports {
    report_emails = null
}

admin {
    username = "admin"
    password = "admin"
    secret_key = "event-ticket-sales"
    title = "event-ticket-sales"
    ticket_surcharge = 2
}

split {
    enabled = false
    amount = 0.7
    name = "split account"
}

gorm {
    image_upload_size = 20971520
}

keys {
    google {
        analytic_property_id = null
        recaptcha_secret = null
    }
    braintree{
        merchantId = "test"
        publicKey = "test"
        privateKey = "test"
        merchantAccount = "test"
    }
}