reports {
    report_emails = ["test@test", "test2@test2"]
}

admin {
    username = "admin"
    password = "admin"
    secret_key = "event-ticket-sales"
    title = "event-ticket-sales"
    ticket_surcharge = 2
}

split {
    enabled = false
    amount = 0.7
    name = "split account"
}

gorm {
    image_upload_size = 20971520
}

keys {
    google {
        analytic_property_id = "value"
        recaptcha_secret = "value"
    }
    braintree{
        merchantId = "value"
        publicKey = "value"
        privateKey = "value"
        merchantAccount = "test"
    }
}