reports {
    report_emails = ["test@test", "test2@test2"]
}

admin {
    username = "admin"
    password = "admin"
    secret_key = "event-ticket-sales"
    title = "event-ticket-sales"
    ticket_surcharge = 2
    tax_rate = 0.04225
    coordinator_phone_number = "555-555-5555"
    coordinator_email = "test@test.com"
    coordinator_name = "coordinator"
}

smtp {
	server = "localhost"
	username = "username"
	password = "password"
}

split {
    enabled = false
    amount = 0.7
    name = "split account"
}

allocation {
    allocationEnabled = false
    primaryPercentage = 0.7
    secondaryName = "secondary name"
    secondaryEmail = "secondary@test.com"
    primaryName = "primary name"
    primaryEmail = "primary@test.com"
}

keys {
    google {
        analytic_property_id = "value"
        recaptcha_secret = "value"
    }
    braintree{
        merchantId = "value"
        publicKey = "value"
        privateKey = "value"
        merchantAccount = "test"
    }
}